body {
    display: flex;
    justify-content: center;
}


button {
    height: 50px;
    width: 50px;
    padding: 0;
}

#clear {
    width: 375px;
}

#calculator {
    outline: 2px solid  orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 500px;
}

#keyboard {
    outline: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 500px;
}

#screen {
    outline: 1px solid green;
    height: 100px;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    font: 100px Arial, sans-serif;;
}