button {
    height: 20px;
    width: 50px;
}

#calculator {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
}

#keyboard {
    outline: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

#screen {
    outline: 1px solid green;
}